#filters {
    margin-bottom: 20px;
}

#tags-filter {
    margin-top: 10px;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
}

#no-products-message {
    color: red;
    font-style: italic;
}